---
import { Github, Link } from '@lucide/astro';
import { Image } from 'astro:assets';
import Badge from './Badge.astro';

interface Props {
  title: string;
  desc: string;
  img: string;
  techs: string[];
  github?: string;
  website?: string;
}

const { title, desc, img, techs, github, website } = Astro.props;
---

<article
  class="shadow-lg shadow-bg-dark/75 dark:shadow-bg/75 rounded grid grid-cols-7 h-56"
>
  <div
    class="py-3 px-5 col-span-4 flex flex-col gap-3 justify-between z-10 select-none"
  >
    <div>
      <h1 class="font-semibold text-2xl flex items-center gap-2">
        <span class="size-3 bg-[#7f7fff] dark:bg-[#477fff] rounded-full"></span>
        {title}
      </h1>
      <p class="font-light text-sm">{desc}</p>
    </div>
    <ul class="flex gap-2 flex-wrap">
      {
        techs.map((tech) => {
          return <Badge title={tech} />;
        })
      }
    </ul>
  </div>

  <picture
    class="relative h-full col-span-3 ml-6 group overflow-hidden rounded"
  >
    <Image
      inferSize
      width={10}
      height={10}
      src={img}
      alt={`${title} project of JohannBB`}
      class="w-full h-full object-center object-cover -mask-linear-90 mask-linear-from-black mask-linear-from-80% mask-linear-to-transparent group-hover:scale-110 transition-transform"
    />

    <div
      class="absolute inset-0 group-hover:opacity-100 flex opacity-0 justify-center items-center gap-4 py-4 font-bold text-text-dark transition-all backdrop-blur-sm"
    >
      <a
        href={github}
        target="_blank"
        class="flex items-center gap-1.5 text-sm cursor-pointer"
      >
        <Github class="size-4" />
        Github
      </a>
      <a
        href={website}
        target="_blank"
        class="flex items-center gap-1.5 text-sm cursor-pointer"
      >
        <Link class="size-4" />
        Website
      </a>
    </div>
  </picture>
</article>
